-- Q001 employeesテーブルのdepartment列の異なる値だけを取得するSQL文は？
SELECT DISTINCT department FROM employees;

-- Q002 employeesテーブルからdepartment_idが1または3の行を取得するSQL文は？
SELECT * FROM employees WHERE department_id IN (1, 3);

-- Q003 employeesテーブルに(name='John', salary=60000)の行を追加するSQL文は？
INSERT INTO employees (name, salary) VALUES ('John', 60000);

-- Q004 employeesテーブルからnameに「son」が含まれる行を取得するSQL文は？
SELECT * FROM employees WHERE name LIKE '%son%';

-- Q005 employeesテーブルからhire_dateが2020年以降の行を取得するSQL文は？
SELECT * FROM employees WHERE hire_date >= '2020-01-01';

-- Q006 employeesテーブルのid=5の行のsalaryを70000に更新するSQL文は？
UPDATE employees SET salary = 70000 WHERE id = 5;

-- Q007 employeesテーブルからid=10の行を削除するSQL文は？
DELETE FROM employees WHERE id = 10;

-- Q008 employeesテーブルからdepartment_idごとの人数を求めるSQL文は？
SELECT department_id, COUNT(*) FROM employees GROUP BY department_id;

-- Q009 employeesテーブルのsalaryがNULLの行を取得するSQL文は？
SELECT * FROM employees WHERE salary IS NULL;

-- Q010 employeesテーブルのsalaryがNULLでない行を取得するSQL文は？
SELECT * FROM employees WHERE salary IS NOT NULL;

-- Q011 employeesテーブルからid=10の行を削除するSQL文は？
DELETE FROM employees WHERE id = 10;

-- Q012 employeesテーブルのsalaryがNULLでない行を取得するSQL文は？
SELECT * FROM employees WHERE salary IS NOT NULL;

-- Q013 employeesとdepartmentsをdepartment_idで内部結合するSQL文は？
SELECT * FROM employees
INNER JOIN departments ON employees.department_id = departments.id;

-- Q014 employeesとdepartmentsをdepartment_idで左外部結合するSQL文は？
SELECT * FROM employees
LEFT JOIN departments ON employees.department_id = departments.id;

-- Q015 employeesとdepartmentsをdepartment_idで右外部結合するSQL文は？
SELECT * FROM employees
RIGHT JOIN departments ON employees.department_id = departments.id;

-- Q016 salaryが全体平均以上の従業員を取得するSQL文は？
SELECT * FROM employees
WHERE salary >= (SELECT AVG(salary) FROM employees);

-- Q017 department_idごとに最高給与の従業員を取得するSQL文は？
SELECT * FROM employees e
WHERE salary = (SELECT MAX(salary) FROM employees
                WHERE department_id = e.department_id);

-- Q018 高給取り従業員を格納するビューhigh_salaryを作成するSQL文は？
CREATE VIEW high_salary AS
SELECT * FROM employees WHERE salary >= 80000;

-- Q019 ビューhigh_salaryを削除するSQL文は？
DROP VIEW high_salary;

-- Q020 トランザクションを開始するSQL文は？
BEGIN TRANSACTION;

-- Q021 トランザクションを取り消すSQL文は？
ROLLBACK;

-- Q022 トランザクションを確定するSQL文は？
COMMIT;

-- Q023 employeesテーブルのname列にインデックスidx_nameを作成するSQL文は？
CREATE INDEX idx_name ON employees(name);

-- Q024 employeesテーブルのsalary列にNULLを許可しない制約を追加するSQL文は？
ALTER TABLE employees MODIFY salary DECIMAL(10, 2) NOT NULL;

-- Q025 employeesテーブルのdepartment_id列に外部キー制約を追加するSQL文は？
ALTER TABLE employees
ADD CONSTRAINT fk_dept FOREIGN KEY (department_id)
REFERENCES departments(id);

-- Q026 employeesテーブルのsalaryトップ3を取得するSQL文は？
SELECT * FROM employees ORDER BY salary DESC LIMIT 3;

-- Q027 各department_idごとにsalaryが2番目に高い従業員を取得するSQL文は？
SELECT * FROM (
    SELECT *, DENSE_RANK() OVER(PARTITION BY department_id ORDER BY salary DESC) AS rnk
    FROM employees
) t
WHERE rnk = 2;


-- Q028売上テーブル sales で年×商品IDのクロス集計と各軸の小計・総計を CUBE で算出（SQL Server）。
SELECT
YEAR(order_date) AS yr,
product_id,
SUM(amount) AS total_amount
FROM sales
GROUP BY CUBE (YEAR(order_date), product_id);

--Q029departmentごとに平均給与が60000以上の部門のみを抽出（HAVING）。
SELECT department_id, AVG(salary) AS avg_salary
FROM employees
GROUP BY department_id
HAVING AVG(salary) >= 60000;

--Q030各department_idごとに、従業員数が10名未満の部門を抽出（HAVING）。
SELECT department_id, COUNT(*) AS cnt
FROM employees
GROUP BY department_id
HAVING COUNT(*) < 10;

--Q031employees(e1) と employees(e2) を自己結合し、同じdepartment_idで給与がe1より高い同僚が存在する行を取得。
SELECT e1.*
FROM employees e1
JOIN employees e2
ON e1.department_id = e2.department_id
AND e2.salary > e1.salary;

--Q032orders(o), order_items(oi), products(p) の3テーブルをJOINして 注文ごとの金額合計を求める。
SELECT o.order_id, SUM(oi.quantity * p.unit_price) AS order_total
FROM orders o
JOIN order_items oi ON o.order_id = oi.order_id
JOIN products p ON oi.product_id = p.product_id
GROUP BY o.order_id;


--Q033売上テーブル sales で年・月の小計を ROLLUP で求める（SQL Server）。
SELECT
YEAR(order_date) AS yr,
MONTH(order_date) AS mon,
SUM(amount) AS total_amount
FROM sales
GROUP BY ROLLUP (YEAR(order_date), MONTH(order_date))


-- Q034 顧客テーブル customers と注文 orders をLEFT JOINし、注文が一度もない顧客を取得。
SELECT c.*
FROM customers c LEFT JOIN orders o
ON  c.customer_id = o.customer_id
WHERE o.customer_id IS NULL


-- Q035 売上テーブル sales(order_id, customer_id, product_id, qty, amount, order_date) から 年・月・製品ごとの売上合計と、年・月の小計、年ごとの小計、全体合計を1クエリで出す（SQL Server / PostgreSQL）。
SELECT
DATE_PART('year', order_date) AS yr,
DATE_PART('month', order_date) AS mon,
product_id,
SUM(amount) AS total_amount
FROM sales
GROUP BY GROUPING SETS (
(DATE_PART('year', order_date), DATE_PART('month', order_date), product_id),
(DATE_PART('year', order_date), DATE_PART('month', order_date)),
(DATE_PART('year', order_date)),
()
);

-- Q036 (SQL Server) CROSS APPLY を使って、商品ごとに最新5件の注文を取得。
SELECT p.product_id, p.product_name, x.order_id, x.order_date
FROM products p
CROSS APPLY (
SELECT TOP 5 o.order_id, o.order_date
FROM orders o
JOIN order_items oi ON o.order_id = oi.order_id
WHERE oi.product_id = p.product_id
ORDER BY o.order_date DESC
) x;

-- Q037注文が存在する顧客のみ取得（EXISTS）。
SELECT c.*
FROM customers c
WHERE EXISTS (
SELECT 1 FROM orders o WHERE o.customer_id = c.customer_id
);


-- Q038 一度も注文が無い顧客を取得（NOT EXISTS）。
SELECT c.*
FROM customers c 
WHERE NOT EXISTS(
    SELECT 1 FROM orders o WHERE o.order_id = c.order_id
)

-- Q039 各従業員について、同部門の平均給与より高い従業員を相関サブクエリで取得。
SELECT 